ccsds-lib/tests/fixtures/viirs_merge1.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/viirs_merge2.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/viirs_packets.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/aqua.20241206T175646.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/gcomw1.20241206T165853.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/metopb.20241206T152751.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/metopc.20241206T162917.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/noaa20.20241206T162710.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/noaa21.20241206T171609.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/tests/fixtures/cadu/npp.20241206T173815.dat filter=lfs diff=lfs merge=lfs -text
ccsds-lib/benches/snpp_block.dat filter=lfs diff=lfs merge=lfs -text
