lib/tests/fixtures/viirs_packets.dat filter=lfs diff=lfs merge=lfs -text
lib/tests/fixtures/snpp_7cadus_2vcids.dat filter=lfs diff=lfs merge=lfs -text
lib/tests/fixtures/overpass_snpp_2017_7min.dat filter=lfs diff=lfs merge=lfs -text
lib/tests/fixtures/snpp_synchronized_cadus.dat filter=lfs diff=lfs merge=lfs -text
